body {
  margin: 0;
  padding: 0;
  background-color: rgb(246, 249, 225);
  color: black;
  font-family:monospace;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon, .icon_header {
  margin-right: 5px;
}

.close_icon {
  color: rgb(47, 69, 159);
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

/* Header  */
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;

}

.menu-icon {
  display: none;
}
/* End Header  */

/* Sidebar  */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: white;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  max-width: 20px;
}

.logo{
  max-width: 100px;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
  font-weight: bold;
}

.dashboard{
  background: rgb(150,40,201);
background: linear-gradient(90deg, rgba(150,40,201,1) 0%, rgba(222,146,251,1) 0%, rgba(255,255,255,1) 97%);
border-radius: 30px;
}

.dashboard-title{
  text-decoration: none;
  color: rgb(104, 15, 114);
}

.sidebar-list-item:hover {
  cursor: pointer;
  background: rgb(150,40,201);
background: linear-gradient(90deg, rgba(150,40,201,1) 0%, rgba(222,146,251,1) 0%, rgba(255,255,255,1) 97%);
border-radius: 30px;
}

.non-dashboard {
  text-decoration: none;
  color: rgb(134, 121, 121);
}

.non-dashboard:hover {
  text-decoration: none;
  color: rgb(104, 15, 114);
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}

/* End Sidebar  */


/* Main  */  
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
  color: rgb(169, 41, 169);
  padding: 0 25px;
  font-size: 20px;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 25px 25px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 15px;
  border-radius: 20px;
  max-width: 220px;
  max-height: 130px;
}

.card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 15px;
  border-radius: 20px;
  max-width: 220px;
  max-height: 130px;
}

.card:hover{
  cursor: pointer;
}

.card2:hover{
  cursor: pointer;
}



.card:first-child {
  background: rgb(76,4,145);
  background: linear-gradient(90deg, rgba(76,4,145,1) 0%, rgba(127,60,189,1) 15%, rgba(209,0,255,1) 100%);
}

.card:nth-child(2) {
  background: linear-gradient(to bottom, #ffc578 0%,#fb9d23 100%);
}

.card:nth-child(3) {
  background: rgb(103,226,146);
background: linear-gradient(90deg, rgba(103,226,146,1) 67%, rgba(179,240,199,1) 96%);
}

.card2:first-child {
  background: rgb(146,249,251);
  background: linear-gradient(90deg, rgba(146,249,251,1) 67%, rgba(14,223,203,1) 96%);
}

.card2:nth-child(2) {
  background: rgb(77,63,144);
background: linear-gradient(90deg, rgba(77,63,144,1) 67%, rgba(96,72,198,1) 96%);
}

.card2:nth-child(3) {
  background: linear-gradient(to bottom, #febbbb 0%,#fe9090 45%,#ff5c5c 100%);
}

.card-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.card-inner > .card_icon {
  font-size: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}


/* Medium <= 992px */
  
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}
/* Small <= 768px */
  
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}
